@import '../../components/variables.module.scss';
@import '../../components/mixins.module.scss';
.about {

    &__hero {
        @include heroImage('https://i.imgur.com/4WQrGTe.jpg');

       
    }

    &__post {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(12, 80px);
        &-img {
            width: 400px;
            height: 350px;
            object-fit: cover;
            grid-column: 1/6;
            grid-row: 1/3;
        }

        &-title {
            grid-column: 7/12;
            grid-row: 1/2;
            font-weight: 700;
            font-size: 28px;
            white-space: nowrap;
            align-self: end;
        }

        &-text {
            grid-column: 7/12;
            grid-row: 2/3;
            font-size: 18px;
            align-self: start;
        }
    }

    &__quote {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        padding: 5% 15%;
    }
}