@import '../../../components/variables.module.scss';
.sidebar {
    margin-right: 50px;
    grid-column: 1/2;
    align-self: start;
    @media(max-width:740px) {
        align-self: center;
        margin-right: 0;
        width: 80%;
    }
    &__title {
        color: rgba($colorDisplay, .5);
        font-weight: 600;
        font-size: 36px;
    }

    &__filter {
        &-title {
            color: $colorDisplay;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 24px;
        }
        &-container {
            margin-bottom: 8px;
            margin-top: 12px;
        }
        &-number {
            width: 96px;
            height: 40px;
            &--dash {
                margin:0 24px;
                font-weight: 600;
            }
        }
    }
}