@import "../../../components/variables.module.scss";
.itemcard {
 

  
  &__right {
    padding-left: 50px;
    grid-column: 3 / 10;
    display: grid;
    grid-row: 1/2;
    grid-row-gap: 5px;
    align-self: start;
    z-index: 1000;
    &-btn {
      grid-row: 3/4;
      grid-column: 3/5;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &--heart {
        fill: white;
        stroke: black;
        transition: fill 0.3s;
        &:hover {
          fill: $colorYellow;
          stroke: $colorYellow;
        }
      }
    }

    &-title {
      font-size: 36px;
      font-family: $fontHeader;
      grid-row: 1/2;
      grid-column: 1/3;
      white-space: nowrap;
    }

    &-price {
      grid-row: 1/2;
      grid-column: 3/4;
      font-size: 36px;
      font-family: $fontHeader;
      padding-left: 20px;
    }

    &-rating {
      grid-row: 3/4;
      grid-column: 1/3;
    }

    &-add {
      grid-row: 13/15;
      grid-column: 1/2;
      cursor: pointer;
      background-color: #000;
      color: #fff;
      outline: none;
      padding: 9px 44px;
      font-weight: 600;
      border: 2px #000 solid;
      font-family: $fontDisplay;
      white-space: nowrap;
      width: 190px;
      &--active {
        grid-row: 13/15;
        grid-column: 1/2;
        cursor: pointer;
        background-color: transparent;
        color: #000;
        outline: none;
        padding: 9px 44px;
        font-weight: 600;
        border: 2px #000 solid;
        font-family: $fontDisplay;
        white-space: nowrap;
        width: 190px;
      }
      &:hover {
        opacity: 0.6;
        border: 2px rgba(#000, 0.8) solid;
      }
    }
    &-description {
      grid-column: 1/10;
      grid-row: 7/13;
    }
  }
}
