@import "../../components/variables.module.scss";
@import "../../components/mixins.module.scss";
.recently {

  display: grid;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15%;
  @media(max-width:1000px) {
    padding-left: 10%;
  }
  @media(max-width:810px) {
    padding-left: 5%;
  }
  &__title {
    @include recentTitle;
    grid-row: 1/2;
    margin-bottom: 0;
  }
  @media(max-width:580px) {
    display: none;
  }

  &__items {
    display: flex;
    padding-top: 20px;
    grid-gap: 40px;
    grid-row: 2/3;
  }

  
  
  &__btn {
    @include viewbtn;
    grid-row: 3/4;
    justify-self: start;
    
  }
}