@import "../../components/variables.module.scss";
@import "../../components/mixins.module.scss";
.recently {
  padding-left: 15%;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  width:80%;
  &__title {
    @include recentTitle;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  &__items {
    display: flex;
    padding-top: 20px;
    grid-gap: 40px;
    grid-row: 2/3;
  }

  
  
  &__btn {
    @include viewbtn;
    grid-row: 3/4;
    justify-self: start;
    
  }
}