@import '../variables.module.scss';

.header {
  
   
    top: 0;
    width: 100%;
    padding-top: 23px;
    margin-bottom: 20px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 80px;
    }
    &_left__menu {
        &-items {
            display: flex;
        }
        &-link {
            font-size: 16px;
            font-weight: 400;
            color:$colorDisplay;
            margin-right: 70px;
        }
    }
    &_right__menu {
        &-items {
            display: flex;
            
        }
        &-search {

            &--input {
                border:none;
                border-bottom: 1px solid #000;
                outline: none;
                font-size: 16px;
                position: absolute;
                padding-top: 5px;
                padding-left: 30px;
                width: 170px;
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                  display: none;
                }
            }

        }
        &-link {
            margin-right: 88px;
            position: relative;
            &-basket {
                font-size: 8px;
                background-color: $colorButton;
                padding:6px;
                color:#fff;
                border-radius: 16px;
                left:50%;
                top:-100%;
                position: absolute;
            };
        }
    }
}