@import '../../../components/variables.module.scss';
.popitems {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    &-title {
        align-self: flex-start;
        font-family: $fontHeader;
        font-size: 48px;
        color: $colorButton;
        margin-top: 20px;
        margin-bottom: 48px;
        grid-column: 1/4;
        &:before {
            position: absolute;
            content: "";
            height: 6px;
            background-color: $colorYellow;
            width: 72px;
            
        }
    }

    &-items {
        display: flex;
        gap:32px;
        grid-column: 1/4;
    }

    &-item {

        &__img {
            height: 407px;
        }
        &__title {
            color: $colorDisplay;
            font-size: 24px;
        }
        &__price {
            font-weight: 600;
            font-size: 36px;
        }
    }
    &__banner {
        display: flex;
        flex-direction: column;
        background-color: $colorLightblue;
        border-radius: 0px 76px 0px 0px;
        align-items: center;
        margin-bottom: 96px;
        &-img {
            
        }

        &-txt {
            font-size: 24px;
            color: $colorDisplay;
            margin-top: 12px;
            margin-bottom: 20px;
        }
        &-btn {
            background-color: transparent;
            border: 1px solid #212F36;
            font-size: 18px;
            padding: 12px 50px;
            cursor: pointer;
            margin-bottom: 24px;
        }
    }

    &-btn {
       grid-column: 3/4;
       padding-bottom: 16px;
       border-bottom: 6px solid #FFE7A7;
       color: $colorDisplay;
       margin-bottom: 64px;
    }
}