@import '../../../components/variables.module.scss';

.menu {
    &__items {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-top: 82px;
        margin-bottom: 82px;
        @media(max-width: 800px) {
            flex-direction: column;
            padding-top: 0;
            gap:0;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    &__item {
        position: relative;
        @media(max-width:1320px) {
            width: 320px;
            height: 590px;
        }
        @media(max-width:1060px) {
            width: 280px;
            height: 515px;
        }
        @media(max-width:930px) {
            width: 240px;
            height: 480px;
        }
        @media(max-width: 800px) {
            width: 100%;
            
        }
       
    }
    

    &__link-txt {
        position: absolute;
        z-index: 10;
        color: $colorYellow;
        font-family: $fontHeader;
        
        font-size: 96px;
        line-height: 89px;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
    
        transform: translate(-50%, -50%);
        @media(max-width:1320px) {
            font-size: 80px;
        }
        @media(max-width:930px) {
            font-size: 60px;
        }
    }

    &__link-img {
        @media(max-width:1320px) {
            width: 320px;
            height: 590px;
        }
        @media(max-width:1060px) {
            width: 280px;
            height: 515px;
        }
        @media(max-width:930px) {
            width: 240px;
            height: 480px;
        }
        @media(max-width: 800px) {
            width: 100%;
            object-fit: cover;
        }
        @media(max-width:350px){
            object-fit: none;
        }
    }
}